<form data-action="{{ path('rechercheProduits') }}" method="POST" class="form-inline waves-effect waves-light formAjax">
    {{ form_widget(form.recherche) }}
    {#<button type="submit" class="btn">Rechercher</button>#}
    {{ form_widget(form) }}
</form>