<h1>Bonjour Team Delivery,</h1>
<br />

Vous avez une nouvelle commande de {{ commande.getUtilisateur.username }} a {{ commande.getDate()|date('d-m-Y H:i:s') }}
Merci de bien vouloir y repindre le plus rapidement possible.
<br /><br />


Miva vous remerci pour votre commande.
<br />
Cordialement Team Customer.