<main>

    <!--Main layout-->
    <div class="container">

        <h1 style="font-weight: 700">Liste</h1>
        <p>...</p>
        <div class="well">
            <div class="fos_user_group_list">
                <ul>
                    {% for group in groups %}
                        <li><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div></main>