{% trans_default_domain 'FOSUserBundle' %}

<main>

    <!--Main layout-->
    <div class="container">

        <h1 style="font-weight: 700">Groupe</h1>
        <p>...</p>
        <div class="well">
            <form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'group.new.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</main>