{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>SubCategories creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn miva waves-effect waves-light" href="{{ path('adminSubCategories') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
